body {
  margin: 20;
  padding-top: 60px;
}

path {
  fill: #8EDD65;
  stroke-width: 2px;
  stroke: #003B49;
  stroke-opacity: 1;
}

.waypoints {
  fill: black;
  opacity: 0;
}

.drinks {
  stroke: black;
  fill: red;
}

.lineConnect {
  fill: none;
  stroke: black;
  opacity: 1;
}

#intro p {
  font-size: 34px;
  color: #003B49;
}

#demo p {
  font-size: 34px;
  color: #003B49;
}

.navbar-custom {
background-color:#003B49;
color:#ffffff;
border-radius:0;
font: bold 14px Helvetica,sans-serif;
}

.navbar-custom .navbar-nav > li > a {
color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
color: #ffffff;
background-color:transparent;
}

.navbar-custom .navbar-brand {
color:#eeeeee;
}

.typeahead, .tt-query, .tt-hint {
  border: 2px solid #ccc;
  height: 50px;
  width: 400px;
}

.tt-menu {
  background-color: #fff;
  font-size: 18px;
  color: #003B49;
}

.error { background: #F0D6D6; padding: 0.5em; }
