body {
  margin: 20;
  padding-top: 60px;
}

#map {
position: inherited;
}

path {
  fill: yellow;
  stroke-width: 2px;
  stroke: red;
  stroke-opacity: 1;
}

.waypoints {
  fill: black;
  opacity: 0;
}

.drinks {
  stroke: black;
  fill: red;
}

.lineConnect {
  fill: none;
  stroke: black;
  opacity: 1;
}

.navbar-custom {
background-color:#003B49;
color:#ffffff;
border-radius:0;
font: bold 14px Helvetica,sans-serif;
}

.navbar-custom .navbar-nav > li > a {
color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
color: #ffffff;
background-color:transparent;
}
.navbar-custom .navbar-brand {
color:#eeeeee;
}
