<!doctype html>
<title>Pronto Stories</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
<script>
var markerClickHandler;
</script>
<script type="text/babel" src="StationPicker.jsx"></script>
<script type="text/babel" src="Map.jsx"></script>
<script src={{ url_for('static', filename='stations.js') }}></script>
<script src={{ url_for('static', filename='station_names.js') }}></script>
<a id="hidden_get_map_link" href="{{ url_for('get_map') }}"></a>

<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="padding: 2px 0 0 0px;" href="#"><img src="{{ url_for('static', filename='logo.png')}}" /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active" style="font-size:42px;" ><a href="#">STORIES</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="intro" class="col-xs-5">
 {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <div id="stationPickerPlaceholder"></div>
</div>

<div id="mapPlaceholder"></div>

<div id="footer">
  <div class="container">
    <p class="muted credit">Created by <a href="http://zachstednick.com">Zach Stednick</a></p>
  </div>
</div>

</body>
</html>
