<!doctype html>
<title>Pronto Stories</title>
<form action="{{ url_for('get_map') }}" method=post class=addstudy>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
<select name=start>
{% for entry in entries %}
  <option value= "{{entry.start}}">{{entry.start}}</option>
{% endfor %}
</select>
<select name=end>
{% for entry in entries %}
  <option value= "{{ entry.end }}">{{entry.end}}</option>
{% endfor %}
</select>
<td><input type=submit value=Submit>
</form>

<div id="map" style="width: 1060px; height: 800px"></div>

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src={{ url_for('static', filename='stations.js') }}></script>
<script>

var map = L.map('map').setView([47.6031447,-122.3285673], 12);
L.tileLayer('https://{s}.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            maxZoom: 24,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                         '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                         'Imagery © <a href="http://mapbox.com">Mapbox</a>',
//  id: 'examples.map-i875mjb7',
            id: 'stedy.mck2dne6',
            accessToken: 'pk.eyJ1Ijoic3RlZHkiLCJhIjoiUU9kOC1xcyJ9.xmKXVS0kLIjF5hR6rBzTCw',
            }).addTo(map);


geojsonLayer = L.geoJson(geojson, {
    style: function(feature) {
      return {color: feature.properties.visit};
      },
    pointToLayer: function(feature, latlng) {
  var currentZoom = map.getZoom();

return new L.CircleMarker(latlng, {radius: 10, fillOpacity: 0.85});
},
onEachFeature: function (feature, layer) {
layer.bindPopup(feature.properties.name);
}
});
map.addLayer(geojsonLayer);
</script>
</body>
</html>
