<html>

<!doctype html>
<title>Pronto Stories</title>
<head>
<form action="{{ url_for('get_map') }}" method=post>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
  <script type="text/babel" src="StationPicker.jsx"></script>
  <script type="text/babel" src="Map.jsx"></script>
  <script type="text/babel" src="mountMap.jsx"></script>
  <script src={{ url_for('static', filename='stations.js') }}></script>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.css' />
    <script src='http://d3js.org/d3.v3.min.js' type='text/javascript'></script>
    <script src='http://cdn.leafletjs.com/leaflet-0.7/leaflet.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    <script src='https://code.jquery.com/jquery-1.11.3.js'></script>
    <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.jquery.js"></script>
    <script src={{ url_for('static', filename='station_names.js') }}></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
  <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>

                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="padding: 2px 0 0 0px;" href="http://prontostories.com"><img src="{{url_for('static', filename='logo.png')}}" /></a>
                      </div>
                      <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                          <li class="active" style="font-size:42px;" ><a href="#">STORIES</a></li>
                        </ul>
                      </div>
                    </div>
                  </nav>

<body>
  <div id='demo' class='col-xs-5'>
    <div id="stationPickerPlaceholder"></div>
    <p>
    {% for entry in entries %}
    <u>Trip start:</u></br>
    {{ entry.station_start }}</br>
    <u>Trip ending at:</u></br>
    {{ entry.station_end }}</br>
    <u>Total number of riders:</u> {{ entry.ntrips }}</br>
    <u>Rank out of all possible routes:</u> {{ entry.routerank }}</br>
    <u>Change in elevation:</u> {{ entry.delta_elevation|round(2, 'floor') }} feet</br>
    <u>Distance:</u> {{ entry.distance|round(2, 'floor') }} miles</br>
    <u>Average travel time:</u> {{ entry.minutes }}m {{ entry.seconds|round(0, 'floor') }}s</br>
    <u>Fastest travel time:</u> {{ entry.min_minutes }}m {{ entry.min_seconds }}s
    <a id="hidden_route" href="{{ entry.route }}"></a>
    <a id="hidden_route_url" href="{{ url_for('static', filename='') }}route{{ entry.route }}.geojson"></a>
    {% endfor %}
    </p>
    <b>
</div>

<div id="mapPlaceholder"></div>
  </div>
  </body>

</html>
